// Mixins Function to convert px value into rem

$base-size: 16;
//You can replace rem with any other value you want (rem is most preferred value for web)
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

// Colors Variables
$DarkBlue: #3a69a9;
$LightBlue: #008fc6;
$SkyBlue: #00b2c6;
$DarkGreen: #00d1ab;
$LightGreen: #90e987;
$LightYellow: #f9f871;
$LightGray: #e1f1ff;

// Font-size Variables
$font-sm: size(14);
$font-med: size(16);
$font-lg: size(20);
$font-xlg: size(52);

// Animation

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out 1 forwards;
}

.fade-out {
  animation: fade-out 300ms ease-in-out 1 forwards;
}

// Global settings
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-med;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}


