.portfolio {
  // width: 80%;
  // margin: 0 auto;
  height: 100vh;
  // margin-top: 16px;
  padding: 20px;
  background-color: $LightGray;
}
.coin {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  &-data{
    display: inline-block;
    &-name {
      font-weight: 500;
    }
  }
  // .remove {
  //   background: linear-gradient(90deg, red, rgb(160, 40, 40));
  //   color: white;
  // }
}
