.overlay {
  visibility: hidden;
  position: absolute;
  top: size(70);
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgb(58, 57, 57), white);
}

.hidden {
  display: none;
}

.search-container {
  background-color: white;
  height: 100vh;
  width: size(500);
  position: fixed;
  top: size(80);
  right: 30px;
  overflow-y: scroll;
  border-radius: 5px;
  #coin-search {
    width: 93%;
    margin: 16px;
    padding: 12px;
    border-radius: 8px;
  }
}
