// Colors
$DarkBlue: #3a69a9;
$LightBlue: #008fc6;
$SkyBlue: #00b2c6;
$DarkGreen: #00d1ab;
$LightGreen: #90e987;
$LightYellow: #f9f871;
$LightGray: #e1f1ff;

// Font-size
$font-sm: size(14);
$font-med: size(16);
$font-lg: size(20);
$font-xlg: size(52);
